<h1> login up page <h1>

  <form action="/authenticate" method="POST">
    <input type="text" name="email" placeholder="userid">
    <input type="text" name="password" placeholder="password">
    <button>Submit</button>
  </form>
