<h1> Sign up page <h1>

  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="userid">
    <input type="text" name="password" placeholder="password">
    <button>Submit</button>
  </form>
